@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        Background-color:#62419c;
        color:aliceblue;
    }
    #home_pg_container {
        Background-color: #ffffff;
        width: 40%;
        height: 80%;
        margin: 20px;
    }
</style>


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
       
        <div class="col" style="background:white; color:#62419c;">
            <div class="card-body">
                <br />
                <h5 class="card-title">SpinnySideUp</h5>
                <p class="card-text">Create a a profile and managae your flight hours<br /> Track your minimums and get reminders of upcoming deadlines</p>
                
            </div>
        </div>
    </div>
</div>
